<div class="container">
  <div class="header">
    <div class="header-left">
      <a href="#" class="logo">Gitstar Ranking</a>

      <div class="search-box">
        <input type="text" placeholder="GitHub username"/>
        <button>Search</button>
      </div>
    </div>

    <div class="header-right sign-in">
      <a href="#">Sign in with GitHub</a>
    </div>
  </div>

  <div class="content">
    <div class="header-content">
      <h1>Repositories Ranking</h1>
    </div>


    <div class="content">
      <div class="column">
        <ul *ngIf="data.length > 0" class="repository-list">

          <li class="repository-item" *ngFor="let item of data">
            <p><strong>{{item.rank}}. {{item.user}}</strong> - {{item.star}} stars</p>
            <p>{{item.description}}</p>
            <p>{{item.language}}</p>
          </li>
        </ul>
      </div>
      <div class="pagination near-footer">
        <mat-paginator *ngIf="total" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="total"
                       (page)="onChangePaginator($event)" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                       class="show-arrow">
        </mat-paginator>

      </div>
    </div>
  </div>
</div>



